<component name="ArtifactManager">
  <artifact type="war" name="SpringMybatisSpringMVC:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMybatisSpringMVC.war">
      <element id="artifact" artifact-name="SpringMybatisSpringMVC:war exploded" />
    </root>
  </artifact>
</component>